{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
        <a class="navbar-brand" href="./">[ WEMY . IR ]</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse rtl" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">صفحه اول</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disable" href="#">درباره من</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">تماس با من</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block parralax %}
    <section class="parralax">
        <div class="pattern">
            <h1>
                {% block website-name %}{% endblock website-name %}
            </h1>
        </div>
    </section>
    {% endblock parralax %}
    {% block nav-category %}
    <div class="container">
        <ul class="nav justify-content-center rtl wemy-nav">
            <button type="button" class="btn-top btn-sm btn btn-outline-secondary"><i class="fa fa-long-arrow-up"
                                                                                      aria-hidden="true"></i></button>
            <li class="nav-item active">
                <a class="nav-link" href="#">دسته بندی ۱</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">دسته بندی ۲</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">دسته بندی ۳</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">محرمانه ها</a>
            </li>
            <span class="fi-arrow-top"></span>
            <button type="button" class="btn-top btn-sm btn btn-outline-secondary"><i class="fa fa-long-arrow-up"
                                                                                      aria-hidden="true"></i></button>
        </ul>
    </div>
    {% endblock nav-category %}
</header>
<main>
    {% block section_one %}
    <section class="container section_one rtl">
        <div class="row justify-content-between">
            <section class="col-lg-4 myinfo">
                <div class="mypicture">
                    <figure></figure>
                </div>
                <p><strong>من حمید حیدری ‌</strong>
                    یه دانشجو کسی که به خاطر یاد دادنش، یادگرفتن رو خیلی دوست داره. دنبال چیزهای عجیبم، از تکرار خوش
                    نمیاد مهربونی رو دوست دارم امانه تظاهر رو . این دنیا هم برام قشنگه فقط به خاطر چیزهایی که عاشقشم مثل کد
                    نویسی وگرنه ازش متنفرم.
                    همین :))
                </p>
                <p><strong>کاربرعزیزم :</strong><span class="text-danger"> خوش اومدی به وبلاگم </span></P>
            </section>
            <section class="col-lg-3">
                <div id="slider" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% block slider-id %}{% endblock slider-id %}
                    </ol>
                    <div class="carousel-inner">
                      {% block slider-img %}{% endblock slider-img %}
                    </div>
                    <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </section>
            <section class="col-lg-2">
                <div class="card hovercard">
                    <div class="cardheader">
                        <img src="{% static 'img/img1.jpeg' %}" alt="Third slide" width="100%" height="150px">
                    </div>
                    <div class="avatar">
                        <img alt="" src="{% static 'img/img4.jpeg' %}">
                    </div>
                    <div class="info">
                        <div class="title">
                            <a target="_blank" href="http://scripteden.com/">حمید حیدری</a>
                        </div>
                        <div class="desc">دنیا اینجاست</div>
                    </div>
                    <div class="bottom">
                        <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="btn btn-danger btn-sm" rel="publisher"
                           href="https://plus.google.com/+ahmshahnuralam">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a class="btn btn-primary btn-sm" rel="publisher"
                           href="https://plus.google.com/shahnuralam">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                            <i class="fa fa-behance"></i>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </section>
    {% endblock section_one %}
    {% block section_two %}
    <section class="container section_two">
        <div class="row justify-content-between">
            <section>
                <div class="front">
                    HTML|CSS
                </div>
                <div class="back">
                    <div class="progress" data-toggle="tooltip" data-placement="top" title=""
                         data-original-title="Your progress">
                        <div class="clip-1 HTML-clip-1">
                            <div class="slice-1"></div>
                        </div>
                        <div class="clip-2 HTML-clip-2">
                            <div class="slice-2"></div>
                        </div>
                        <div class="label">99</div>
                    </div>
            </section>
            <section>
                <div class="front">
                    PHP|MYSQL
                </div>
                <div class="back">
                    <div class="progress" data-toggle="tooltip" data-placement="top" title=""
                         data-original-title="Your progress">
                        <div class="clip-1 PHP-clip-1">
                            <div class="slice-1"></div>
                        </div>
                        <div class="clip-2 PHP-clip-2">
                            <div class="slice-2"></div>
                        </div>
                        <div class="label">85</div>
                    </div>
            </section>
            <section>
                <div class="front">
                    WORDPRESS
                </div>
                <div class="back">
                    <div class="progress" data-toggle="tooltip" data-placement="top" title=""
                         data-original-title="Your progress">
                        <div class="clip-1 WORDPRESS-clip-1">
                            <div class="slice-1"></div>
                        </div>
                        <div class="clip-2 WORDPRESS-clip-2">
                            <div class="slice-2"></div>
                        </div>
                        <div class="label">90</div>
                    </div>
            </section>
            <section>
                <div class="front">
                    DJANGO
                </div>
                <div class="back">
                    <div class="progress" data-toggle="tooltip" data-placement="top" title=""
                         data-original-title="Your progress">
                        <div class="clip-1 DJANGO-clip-1">
                            <div class="slice-1"></div>
                        </div>
                        <div class="clip-2 DJANGO-clip-2">
                            <div class="slice-2"></div>
                        </div>
                        <div class="label">65</div>
                    </div>
            </section>
        </div>
    </section>
    {% endblock section_two %}
    <section class="container section_three">
        <div class="row">
            <section id="posts">
              {% block posts %}{% endblock posts %}
            </section>
        </div>
    </section>
</main>
<footer>
  <section class="row rtl">
    <article class="copyright-fa col-lg-8">
      <p>
     آن جیزی را که در این سایت میتوانید مشاهده کنید متعلق به همین سایت میباشد و هر گونه انتشار آن با ذکر نام و لینک منبع مجاز است.
      </p>
    </article>
    <article class="copyright-en col-lg-4">
      <p>
      All Rights Reserved - © {% now "Y" %}
      </p>
    </article>
  </section>
</footer>
<script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>
