{% extends "base.html" %}
{% load replace %}
{% block title %}
    {% for post in posts %}
      {{ post.title }}
    {% endfor %}
{% endblock title %}

{% block section_one %}{% endblock section_one %}
{% block section_two %}{% endblock section_two %}
{% block posts %}
    {% for post in posts %}
    <section id="page-post">
      <article>
          <figure>
              <a target="_blank" href="/{% if post.url != '' %}{{post.link|replace }}{% else %}{{post.title|replace }}{% endif %}">
                  <img src="/media/{{post.img}}" alt="{{post.title}}" title="{{post.title}}" width="100%" height="100%">
              </a>
          </figure>
          <h1>
            <a href="/{% if post.url != '' %}{{post.link|replace}}{% else %}{{post.title|replace}}{% endif %}">{{ post.title }}</a>
          </h1>
          {{ post.content|safe }}
        </article>
      </section>
    {% endfor %}
{% endblock posts %}
