{% extends "base.html" %}
{% load replace %}
{% block title %} وب سایت من و ما|صفحه اصلی {% endblock title %}
{% block website-name %}WEMY{% endblock website-name %}
{% block section_one %}{% endblock section_one %}
{% block section_two %}{% endblock section_two %}
{% block posts %}
    {% for post in posts %}
      <article class="white-panel">
          <figure class="thumbnail">
              <a target="_blank" href="/{% if post.url != '' %}{{post.link|replace }}{% else %}{{post.title|replace }}{% endif %}">
                  <img src="/media/{{post.img}}" alt="{{post.title}}" title="{{post.title}}" width="100%" height="100%">
              </a>
          </figure>
          <h4><a href="/{% if post.url != '' %}{{post.link|replace}}{% else %}{{post.title|replace}}{% endif %}">{{ post.title }}</a></h4>
          <h5>
            <a href="/{% if post.url != '' %}{{post.link|replace}}{% else %}{{post.title|replace}}{% endif %}">
              {% if post.excerpt != '' %}
                {{post.excerpt|safe}}
              {% else %}
                {{post.content|safe|truncatewords_html:50}}
              {% endif %}
          </a>
        </h5>
      </article>
    {% endfor %}
{% endblock posts %}
