.rtl {
    direction: rtl;
}

ul.navbar-nav {
	margin-right : 0px !important;
}
.form-inline button {
	margin-right : 5px;
}
.parralax {
  background: url("../img/parallax.jpg");
  min-height: 600px;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}
.parralax h1  {
  background: rgba(255,255,255,0.18);
  box-shadow: inset 0px 0px 15px rgba(255,255,255,0.5), 0px 1px 4px rgba(0,0,0,0.3);
-moz-box-shadow: inset 0px 0px 15px rgba(255,255,255,0.5), 0px 1px 4px rgba(0,0,0,0.3);
-webkit-box-shadow: inset 0px 0px 15px rgba(255,255,255,0.5), 0px 1px 4px rgba(0,0,0,0.3);
-o-box-shadow: inset 0px 0px 15px rgba(255,255,255,0.5), 0px 1px 4px rgba(0,0,0,0.3);
-ms-box-shadow: inset 0px 0px 15px rgba(255,255,255,0.5), 0px 1px 4px rgba(0,0,0,0.3);
width: 225px;
height: 220px;
border-radius: 100%;
text-align: center;
line-height: 220px;
font-size: 50px;
font-weight: bold;
margin: auto;
color: #fff;
overflow: hidden;
font-family: 'Js-Flat';
}
.pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/03.png");
  padding-top: 35px;
}
